<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="com.example.project.question.service.impl.QuestMapper">
	
	<!-- 질문 조회 -->
	<select id="selectQuestList" resultType="QuestVO">
		SELECT QUEST_ID
       		  ,QUEST_TITLE
       		  ,QUEST_CONTENT
              ,QUEST_DATE
              ,QUEST_STATE
              ,QUEST_GOOD
              ,QUEST_BAD
              ,USER_ID
  		  FROM T_QUESTION
  		  <where>
  		  	<if test="questId != null and questId != 0">
  		  		 AND QUEST_ID = #{questId}
  		  	</if>
  		  	<if test="questState != null and questState != ''">
  		  		AND QUEST_STATE = #{questState}
  		  	</if>
  		  	<if test="questState == null or questState == ''">
  		  		AND QUEST_STATE = '답변 대기'
  		  	</if>
  		  	<if test="questGood != null and questGood != 0">
  		  		AND QUEST_STATE = '답변 대기'
  		  		OR QUEST_STATE = '답변 완료'
  		  	</if>
  		  	<if test="keyword != null and keyword != ''">
  		  		AND QUEST_CONTENT LIKE '%' || #{keyword} || '%'
  		  		 OR QUEST_TITLE LIKE '%' || #{keyword} || '%'
  		  	</if>
  		  </where>
  		  <choose>
  		  	<when test="questGood != null and questGood != 0">
  		  		ORDER BY QUEST_GOOD DESC
  		  	</when>
  		  	<otherwise>
  		  	    ORDER BY QUEST_DATE 
  		  	</otherwise>
  		  </choose>
  		  	
	</select>
	
	<!-- 질문 추가 -->
	<insert id="insertQuest" parameterType="QuestVO">
		INSERT INTO T_QUESTION(QUEST_TITLE, QUEST_CONTENT, QUEST_DATE, USER_ID)
                        VALUES(#{questTitle}, #{questContent}, TO_CHAR(SYSDATE, 'YYYY-MM-DD'), #{userId})
	</insert>
	
	<!-- 질문 수정 -->
	<update id="updateQuest" parameterType="QuestVO">
		UPDATE T_QUESTION 
		   SET QUEST_TITLE = #{questTitle}
			  ,QUEST_CONTENT = #{questContent}
			  ,QUEST_DATE = TO_CHAR(SYSDATE, 'YYYY-MM-DD')
			WHERE QUEST_ID = #{questId}
	</update>
	
	<!-- 질문 삭제 -->
	<delete id="deleteQuest" parameterType="QuestVO">
		DELETE T_QUESTION
		 WHERE QUEST_ID = #{questId}
	</delete>
	
	
	<!-- 답변 조회 -->
	<select id="selectAnswerList" parameterType="answerVO" resultType="answerVO">
		SELECT ANSWER_ID
       		  ,ANSWER_CONTENT
	          ,ANSWER_SELECT
	          ,ANSWER_DATE
	          ,QUEST_ID
	          ,USER_ID
 		  FROM T_ANSWER
 		  <where>
 		  	<if test="answerId != null and answerId != 0">
 		  		AND ANSWER_ID = #{answerId}
 		  	</if>
 		  	<if test="questId != null and questId != 0">
 		  		AND QUEST_ID = #{questId}
 		  	</if>
 	
 		  </where>
	</select>
	
	<!-- 답변 추가 -->
	<insert id="insertAnswer" parameterType="answerVO">
		INSERT INTO T_ANSWER(ANSWER_CONTENT, ANSWER_DATE, QUEST_ID, USER_ID)
               VALUES(#{answerContent}, TO_CHAR(SYSDATE, 'YYYY-MM-DD'), #{questId}, #{userId})
	</insert>
	
	<!-- 답변 수정 -->
	<update id="updateAnswer" parameterType="answerVO">
		UPDATE T_ANSWER
		   SET ANSWER_CONTENT = #{answerContent}
		 WHERE ANSWER_ID = #{answerId}
	</update>
	
	<!-- 답변 삭제 -->
	<delete id="deleteAnswer" parameterType="answerVO">
		DELETE T_ANSWER
		 WHERE ANSWER_ID = #{answerId}
	</delete>
	
</mapper>














